{
    "ConnectionStrings": {
        "DefaultConnection": "Server=LAPTOP-SEBAS\\TABULAR; Database=Catalogo; Trusted_Connection=True; TrustServerCertificate=True;"
    },
    "Logging": {
        "LogLevel": {
            "Default": "Information",
            "Microsoft.AspNetCore": "Warning"
        }
    },
    "AllowedHosts": "*"
}